go 1.21.6

use (
	./go-modules/github.com/gabriel-vasile/mimetype@v1.4.2
	./go-modules/github.com/gin-contrib/cors@v1.5.0
	./go-modules/github.com/gin-contrib/sse@v0.1.0
	./go-modules/github.com/gin-gonic/gin@v1.9.1
	./go-modules/github.com/go-playground/locales@v0.14.1
	./go-modules/github.com/go-playground/universal-translator@v0.18.1
	./go-modules/github.com/go-playground/validator/v10@v10.15.5
	./go-modules/github.com/golang/snappy@v0.0.1
	./go-modules/github.com/google/uuid@v1.5.0
	./go-modules/github.com/klauspost/compress@v1.13.6
	./go-modules/github.com/leodido/go-urn@v1.2.4
	./go-modules/github.com/mattn/go-isatty@v0.0.19
	./go-modules/github.com/pelletier/go-toml/v2@v2.1.0
	./go-modules/github.com/ugorji/go/codec@v1.2.11
	./go-modules/github.com/xdg-go/pbkdf2@v1.0.0
	./go-modules/github.com/xdg-go/scram@v1.1.2
	./go-modules/github.com/xdg-go/stringprep@v1.0.4
	./go-modules/go.mongodb.org/mongo-driver@v1.13.1
	./go-modules/golang.org/x/crypto@v0.14.0
	./go-modules/golang.org/x/net@v0.16.0
	./go-modules/golang.org/x/sync@v0.0.0-20220722155255-886fb9371eb4
	./go-modules/golang.org/x/sys@v0.13.0
	./go-modules/golang.org/x/text@v0.13.0
	./go-modules/google.golang.org/protobuf@v1.31.0
	./go-modules/gopkg.in/yaml.v3@v3.0.1
	./src
	./src/db
	./src/sites
	./src/user
	./src/util
)
